:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  .center{
    text-align: center;
    margin-top: 7em;
    padding-bottom: 10px;
  }
 
  
  #container {
    
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    max-width: 900px;

    display: grid;
    /* grid-gap: 1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);

    height: 78%;
    border-style: inset ;
  }
  
  h1{ 
    text-align: center;
    position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0px;
  padding: 0px;
  padding-bottom: 1rem;

    width: 100%;
    color: midnightblue;
    font-family: 'Lemonada', cursive;

    background: rgb(238, 226, 255);
	  border-bottom: 7px solid midnightblue
  }

  button {
    font-family: Georgia;
    background: rgb(238, 226, 255);
  color: midnightblue;
  padding: .7em;
  margin-right: 10px;
  margin-bottom: 2em;
    border-radius: 10px;
    line-height: 1.2rem;
    box-shadow: 1px 2.5px #888888;
 }

 button:hover{
   transform: scale(1.05);
 }